.home-intro {
    margin-top: 100px;
    margin-bottom: 60px;
    &__text {
        background-color: $color-midStrongGreyBack;
        height: 530px;
        color: #ffffff;
    }
    &__text-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding-top: 80px;
        margin-bottom: 15px;
        height: 280px;
        h5 {
            font-weight: $soft-weight;
            width: 240px;
            margin-bottom: 50px;
        }
    }
    &__button-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
        height: 200px;
    }
    &__calendar-picker {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $color-strongGreyBack;
        height: 354px;
        padding: 20px;
        label {
            font-family: $robo-font;
            color: $color-white;
            font-size: $smallPlus-font;
        }
    }
    &__calendar-picker input[type="date"] {
        display: block;
        color: $color-ligthGrayDisable;
        font-family: $robo-font;
        font-size: $smallPlus-font;
        font-weight: $soft-weight;
        background-color: $color-strongGreyBack;
        color-scheme: dark;
        border: 0;
        width: 100%;
        height: 40px;
        padding-left: 25px;
        padding-bottom: 15px;
        border-bottom: 3px $color-beish solid;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 10px;
        opacity: 1;
        display: block;
        background: url(../../../assets/images/date_picker.png) no-repeat center;
        background-size: 19px 19px;
        width: 35px;
        height: 35px;
    }
    &__calendar-picker-button {
        padding: 0 25px 0 25px;
    }
}
