.home-intro {
    &__text {
        background-color: $color-midStrongGreyBack;
        height: 530px;
        color: #ffffff;
    }
    &__text-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        padding-top: 80px;
        margin-bottom: 15px;
        height: 250px;
    }
    &__text-section h1 {
        font-family: $old-font;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.2px;
        font-weight: $soft-weight;
    }
    &__text-section h5 {
        font-family: $arch-font;
        font-weight: $soft-weight;
        font-size: $small-font;
        letter-spacing: 2.8px;
        line-height: 18px;
        width: 240px;
    }
    &__button-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
        height: 200px;
    }
    &__calendar-picker {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $color-strongGreyBack;
        height: 354px;
        padding: 20px;
    }
    &__calendar-picker label {
        font-family: $robo-font;
        color: $color-white;
        font-size: $smallPlus-font;
    }
    &__calendar-picker input[type="date"] {
        display: block;
        color: $color-ligthGrayDisable;
        font-family: $robo-font;
        font-size: $smallPlus-font;
        font-weight: $soft-weight;
        background-color: $color-strongGreyBack;
        color-scheme: dark;
        border: 0;
        width: 100%;
        height: 40px;
        padding-left: 25px;
        padding-bottom: 15px;
        border-bottom: 3px $color-beish solid;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 10px;
        opacity: 1;
        display: block;
        background: url(../../../assets/images/date_picker.png) no-repeat center;
        background-size: 19px 19px;
        width: 35px;
        height: 35px;
    }
    &__calendar-picker-button {
        padding: 0 25px 0 25px;
    }
}
