.button-beish {
    font-family: $arch-font;
    background-color: $color-beish;
    color: $color-white;
    font-size: $small-font;
    font-weight: $strong-weight;
    letter-spacing: 2.8px;
    line-height: 15.23px;
    display: block;
    width: 216px;
    height: 60px;
    border: 0;
}
.button-beish-auto {
    font-family: $arch-font;
    background-color: $color-beish;
    color: $color-white;
    font-size: $small-font;
    font-weight: $strong-weight;
    letter-spacing: 2.8px;
    line-height: 15.23px;
    display: block;
    width: fit-content;
    height: 60px;
    border: 0;
}
.button-grey {
    font-family: $arch-font;
    background-color: $color-midStrongGreyBack;
    color: $color-white;
    font-size: $small-font;
    font-weight: $strong-weight;
    letter-spacing: 2.8px;
    line-height: 15.23px;
    display: block;
    width: 216px;
    height: 60px;
    border: 2px rgba($color: #ffffff, $alpha: 0.33) solid;
}
