.rooms-cards {
    margin-bottom: 40px;
    text-align: center;
    padding: 20px;
    img {
        width: 100%;
    }
    &__card-service-info img {
        z-index: 5;
        position: relative;
        bottom: 26px;
        width: 70%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    &__text-container {
        margin: 0px 20px 40px 20px;
    }
    p {
        color: $color-softGreyText;
        margin-top: 20px;
    }
    &__text-frist-span {
        font-size: 16px;
    }
    &__text-second-span {
        :hover {
            color: #222222;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        font-size: 16px;
        font-family: $arch-font;
        font-weight: 700;
        color: $color-verySoftGrey;
    }
}

#pagination-rooms-cards {
    --swiper-pagination-bullet-border-radius: 0px;
    --swiper-pagination-bullet-size: 20px;
    --swiper-pagination-color: #bead8e;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-horizontal-gap: 5px;
}
.swiper-pagination-bullet-active {
    color: white;
}
/*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
